body {
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}
.topo {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 69px;
    left: 0px;
    top: 0px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
}
.container {
    width: 1050px;
    margin:0 auto;
    display: flex;
    align-items: center;
}
.criarQuizz {
    justify-content: center;
    flex-direction: column;
    height: 181px;
    margin-top: 146px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    color: #B9B9B9;
}
.botaoCriarQuizz {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    color: #EC362D;
}
.addQuizz {
    color: #EC362D;
    font-size: 25px;
}
.seusQuizzesTitulo {
    margin-top: 146px;
}
.seusQuizzes {
    flex-wrap: wrap;
}
.todosQuizzesTitulo {
    margin-top: 77px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}
.todosQuizzes {
    flex-wrap: wrap;
    margin-top: 5px;
}
.quizz {
    position: relative;
    width: 340px;
    height: 181px;
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url("https://rollingstone.uol.com.br/media/_versions/os-simpsons-teoria-final_widelg.jpg");
    border-radius: 5px;
    background-size: cover;
    margin: 0 10px 10px 0;
}
.nomeDoQuiz {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.oculto {
    display: none;
}
