body {
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}
.topo {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 69px;
    left: 0px;
    top: 0px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    z-index: 5;
}
.container {
    width: 1050px;
    margin:0 auto;
    display: flex;
    align-items: center;
}
.criarQuizz {
    justify-content: center;
    flex-direction: column;
    height: 181px;
    margin-top: 146px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    color: #B9B9B9;
}
.botaoCriarQuizz {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    color: #EC362D;
}
.addQuizz {
    color: #EC362D;
    font-size: 25px;
}

.seusQuizzesTitulo {
    margin-top: 146px;
}
.seusQuizzes {
    flex-wrap: wrap;
}
.todosQuizzesTitulo {
    margin-top: 77px;
}
.todosQuizzes {
    flex-wrap: wrap;
    margin-top: 5px;
}
.quizz {
    position: relative;
    width: 340px;
    height: 181px;
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
    background-size: cover;
    margin: 0 10px 10px 0;
}
.container img {
    position: absolute;
    width: 340px;
    height: 181px;    
    object-fit: cover;
    border-radius: 5px;
    z-index: -1;
}
.pagina-Quizz {
    position: relative;
    top:69px;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.nomeDoQuiz {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.Quizz-titulo {
    position: relative;
    background: rgba(0, 0, 0, 0.60);
    width: 100%;
    height: 227px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 21px;
}
.Quizz-titulo img {
    z-index: -1;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    object-position: 100% 20%;
}
.Quizz-titulo > div {
    position: absolute;
    z-index: 4;
    color: #fff;
    font-size: 39px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
}
article.container-pergunta {
    margin: 21px auto;
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    padding: 27px 36px 26px;
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px #0000000D;
}
.container-pergunta .pergunta{
   padding: 32px;
   width: 688px;
   margin-bottom: 10px;
}
.respostas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 688px;
}
.respostas>div{
    margin: 10px 0;
}
.resposta>img{
    object-fit: cover;
    width: 330px;
    height: 176px;
}
.resposta p {
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}
div.correta p {
    color: #009C22;
}
div.errada p {
    color:#FF4B4B;
}
article.container-resultado{
    width: 760px;
    padding: 18px 14px 18px 22px;
}
.container-resultado .resultado {
    padding: 32px;
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}
.resultado img {
    object-fit: cover;

}
.imagem-resultado img{
    width: 364px;
    height: 273px;
}
.resultados{
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}
.mensagem-resultado {
    color: #484848;
    font-size: 19px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    margin-left: 21px;
    line-break:strict;
}
.pagina-Quizz button{
    height: 52px;
    width: 262px;
    border-radius: 15px;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
}
.reinicia-quizz {
    color: #FFF5F4;
    background: #EC362D;
    margin: 36px auto 16px auto;
}
.retorna-inicio {
    color: #818181; 
    margin: 0 auto 85px auto;
}
.container-comeco {
    margin: 140px auto 24px auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.dados-entrada-criar {
    margin:0px auto 24px auto;
    padding: 21px 20px 15px 16px;
    width: 600px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px #0000000D;
    text-align: left;
}
.container-comeco h1{
    color: #000;
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    margin-bottom: 27px;
}
.dados-entrada-criar h2{
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    margin-bottom: 12px;
}
.dados-entrada-criar input{
    border: 1px solid #D1D1D1;
    margin-bottom: 9px;
    border-radius: 5px;
    width: 564px;
    height: 46px;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 24px;
    color: #000;
}
.dados-entrada-criar input:nth-of-type(even){
    margin-bottom: 28px;
}
.dados-entrada-criar input:last-of-type{
    margin-bottom: 13px;
}
.dados-entrada-criar input::placeholder{
    font-style: italic;
    color: #bababa;
}
.dados-entrada-criar input:focus{
    border: 2px solid #000;
}
.container-comeco button{
    margin-top: 61px;
    width: 369px;
    height: 54px;
    border-radius: 15px;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFF5F4;
    background: #EC362D;
}
.pergunta-minimizada {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 38px;
    width: 564px;
}.pergunta-minimizada h2{
    margin:0;
}
.pergunta-minimizada img {
    background-size: cover;
    height: 26px;
    width: 26px;
}
/*Não esta funcionando fundo da imagem com gradiente.*/
.container-comeco.fim>div {
    width: 500px;
    height: 266px;
    text-align: left;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
}
.quizz.fim>img {
    background-size: cover;
}
.nomeDoQuiz.fim div {
    font-size: 23px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
}
/*Não esta funcionando fundo da imagem com gradiente.*/
.retorna-inicio.fim {
    background: none;
    color: #818181;
    margin: 0;
}
.reinicia-quizz.fim{
    width: 266px;
    margin-top: 35px;
}
.oculto {
    display: none;
}
.opacidade {
    opacity: 0.3;
}
.corHex {
    text-transform: uppercase;
}
.utl-Img{
    text-transform: initial;
}